#columns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#left, #right {
  padding: 40px;
}

#left {
  display: flex;
}

figure {
    display: inline-block;
}
figure img {
    vertical-align: top;
    max-height: 400px;
    max-width: 400px;
}
